<link rel="stylesheet" href="app.css/Login.css">

<div class="container" id="LoginPage" layout="column" layout-align = "top center">
    <md-toolbar id="Header">
        <h1><span>CONFR</span></h1>
    </md-toolbar>
    <md-card id="LoginPanel">
        <md-toolbar layout="row" layout-align="center">
            <div>
                <h3><span>Login</span></h3>
            </div>
        </md-toolbar>
        <form ng-submit="$ctrl.login()" layout="column" layout-align="center center" name="LoginForm">
            <md-input-container >
                <label>Username</label>
                <input type="text" ng-model="$ctrl.username" name="username" required>
                <div ng-messages="LoginForm.username.$error">
                    <div ng-message="required">This is required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="$ctrl.password" name="password" required>
                <div ng-messages="LoginForm.password.$error">
                        <div ng-message="required">This is required</div>
                </div>
            </md-input-container>
            <div>
                {{message}}
            </div>
            <md-button type="submit" class="md-raised" id="submission">
                Login
            </md-button>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <span>New to CONFR? Register <a id="redirect" href="#!register">here</a></span>
        </form>
    </md-card>
</div>
