
.btn-on {
  color: red;
    text-decoration: line-through;
}
.btn-off {
  color: black;

}

.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.buttonStyling{
  width: auto;
  height: auto;
}
.strike {
    text-decoration: line-through;
}
.bold {
    font-weight: bold;
}
.red {
    color: red;
}
.has-error {
    color: red;
    background-color: yellow;
}
.orange {
    color: orange;
}

.body{
  background-color: #FCD949;
}

.green {
  background-color: #44813E; }

.ltgreen {
  background-color: #92C24C !important; }

.grnwht {
  background-color: #FFFADD; }

.ylwwht {
  background-color: #FFEEA8; }

.yellow {
  background-color: #FCD949 !important; }

.raleway {
  font-family: 'Muli', sans-serif;
 }

.banner-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center !important; }

#mylists {
  font-size: 30px;
  font-family: 'Muli', sans-serif;
  text-align: center; }


.selected {
    font-weight: bold;
}


.line-thru {
  text-decoration: line-through; }

  .divbody{
    padding: 50px;
    background-color: #FCD949;
  }

.input {
  border: none;
   background: transparent;
   width: 228px;
   height: 24px;
   right: 200px;
}
