#searchComp {

    padding: 50px;
    background-color: white;
}

#search, #update {
    background-color: #92C24C;
}

#price {
    background-color: #FFFFFF;
    border:0;
}

span {
    font-weight: bold;
    margin-right: 5px;
}

#title {
    color: #000000;
    text-decoration-line: underline;
}

.symbol {
    border: 1px inset #000000;
    background-color: #FFFFFF;
}

.divbody{
  padding: 50px;
  background-color: #FCD949;
}

.buttonCenter{
  text-align: center;
  align-items: center;
  justify-content: center;
}
