
         <div class="container">
           <div class="vertical-align-wrap">
             <div class="vertical-align vertical-align--middle">

                       <md-input-container md-no-float class="md-accent" flex="50" style="padding-bottom:0px;margin-left:25px">
                           <md-icon  class="material-icons">&#xE8B6;</md-icon>
                           <input ng-model="searchInput" placeholder="Search here" style="padding-left:25px;margin-left:5px">
                        </md-input-container>

             </div>
           </div>
         </div>
