<link rel="stylesheet" href="app.css/list.css">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">



<div class="divbody">

        <md-content layout="row" class="raleway">
            <md-list flex>
                <md-list-item>
                  <h3 flex="60">List</h3>
                  <h3 flex="35">Total</h3>
                    <h3 flex="10"></h3>
                </md-list-item>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-list-item ng-repeat="item in $ctrl.list" >
                    <!-- <div layout="row"> -->
                        <h3 flex="60">{{item.listname}}<h3>
                        <h4 flex="35">{{item.listtotal}}</h4>
                        <button class="md-raised md-button yellow" flex="10" ng-click="$ctrl.getCompleteList(item)">Details</button>
                        <md-divider></md-divider>
                    <!-- </div> -->
                 </md-list-item>
            </md-list>
        </md-content>


</div>
