<link rel="stylesheet" href="app.css/createlist.css">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

<div class="body">

<div class="divbody body">
  <md-toolbar layout="row" id="light" class="input  ">
          <div class="md-toolbar-tools banner-title">
            <input type="text" placeholder="New Folder" class="input" ng-model="$ctrl.listName" value="{{ctrl.listtitle}}" />
          </div>
      </md-toolbar>
            <md-content layout="row" class="raleway">
                <md-list flex>
                    <md-list-item ng-repeat="item in $ctrl.products" >
                            <h3 flex="50">{{item.itemName}}<h3>
                            <h4 flex="25">{{item.stores.storeName}}</h4>
                            <h4 flex="25">{{item.itemPrice}}</h4>
                            <md-divider></md-divider>

                    </md-list-item>



                    <md-list-item>

                      <h3>
                        <div layout="row" layout-align="start start">
                          <label>Pick an Item: </label>
                          <select ng-model="$ctrl.itemID" ng-change="$ctrl.hasChanged($ctrl.itemID)">
                            <option  ng-value="item" ng-repeat="item in $ctrl.itemList">{{item}}</option>
                          </select>
                        </div>

                        <div layout="row" layout-align="start start">
                          <label>Pick a Store: </label>
                          <select ng-model="$ctrl.storeID" >
                              <option ng-value="store" ng-repeat="store in $ctrl.priceStore">Pick a Store: {{store.storeName}} : {{store.itemPrice}} </option>
                            </select>
                        </div>
                      </h3>


                        <h4 class="totalCss">TOTAL: {{$ctrl.getTotalPrice}}</h4>

                      </md-list-item>

                    <md-list-item><button class="md-raised md-button yellow" ng-click="$ctrl.addItem($ctrl.itemID, $ctrl.storeID, $ctrl.listName); $ctrl.getTotal()">+ Add New Item</button>

                      <button class="md-raised md-button yellow" ng-click="$ctrl.printList(); $ctrl.saveList($ctrl.listName)">+ Save List</button>
                    </md-list-item>


                </md-list>

            </md-content>

</div>
</div>
