<link rel="stylesheet" href="app.css/dialog.css">
<md-card id="DialogContent">
    <form ng-submit="$ctrl.change()" layout="column" layout-align="center center" name="LoginForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change Password</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-input-container>
            <label>Current Password</label>
            <input required type="password" ng-model="$ctrl.oldPassword">
        </md-input-container>

        <md-input-container>
            <label>New Password</label>
            <input required type="password" ng-model="$ctrl.newPassword">
        </md-input-container>
        
        <md-input-container>
            <label>Confirm New Password</label>
            <input required type="password" ng-model="$ctrl.confirm">
                <div ng-if="$ctrl.newPassword != $ctrl.confirm">
                <div ><p class="msg-nomatch">new passwords do not match<p></div>
            </div>
        </md-input-container>
        <div>
            {{$ctrl.message}}
        </div>
        <md-input-container layout="row">
            <md-button class="submission" type="submit">
                Change Password
            </md-button>
            <md-button class="submission" ng-click="$ctrl.cancel()">
                Cancel
            </md-button>
        </md-input-container>
    </form>
</md-card>