<link rel="stylesheet" href="app.css/list.css">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

<div>
    <md-toolbar layout="row" class="ltgreen">
        <div class="md-toolbar-tools banner-title">
            <span id="mylists">{{$ctrl.listtitle}}</span>
        </div>
    </md-toolbar>
    <md-content layout="row" class="raleway">
        <md-list flex>
            <md-list-item ng-repeat="item in $ctrl.list" ng-click="$ctrl.crossOff(item)" ng-class="{'line-thru':item.crossedOff}">
                <!-- <div layout="row"> -->
                    <h3 flex="50">{{item.itemname}}<h3>
                    <h4 flex="25">{{item.price}}</h4>
                    <md-divider></md-divider>
                <!-- </div> -->
            </md-list-item>
            <md-list-item><button class="md-raised md-button yellow">+ Add New Item</button></md-list-item>
        </md-list>
    </md-content>            
</div>